body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  padding: 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  max-width: 450px;
  width: 100%;
  text-align: center;
  position: relative;
  left: calc(20% - 2in - 0.5in); /* Move the container half an inch to the left */
  transition: transform 0.3s ease-in-out;
}


h1 {
  color: #333;
}

.language-selection {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#speechOutput, #translationOutput {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
